.navbar-header h1.navbar-brand{
  
  color:#FFFFFF;
  font-weight:bold; 
   font-size: 1.5em;
   -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
}

.collapse .nav > li > a.head {
  
  color:#FFFFFF;
  margin-top:10px;
  font-weight:bold;
  font-size: 1.2em;
   -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
}   
.collapse .nav > li > a.head:hover , a.head:active {
   border-radius: 1em;
    color: #990000;
    background-color: #fed136;
}
@media(min-width:768px) {
    .navbar .container-fluid {
        background-color: #191919;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
        
    }
  } 
  
.carousel {
  height: 600px;
 
}


.carousel .item {
  height: 600px;
  background-color: #777;
}
.carousel .carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 700px;
}   
 

.container .section-heading {
  
    margin-bottom: 65px;
    font-size: 40px;
    text-transform: uppercase;
}
@media(min-width:768px) {
   .container {
        padding: 50px 0;
    }
}

.container-fluid .contact{
  text-transform: uppercase;
  font-size:40px;
  color: #FFFFFF;
}
.row .form-group {
    margin-top: 30px;
}

.row .form-group input,
.row .form-group textarea {
    padding: 15px;
}

.row .form-group input.form-control {
    height: auto;
}

.row .form-group textarea.form-control {
    height: 214px;
}
.button .btn {
  color: #FFFFFF;
    background-color: #fed136;
    margin-top:30px;
    height:60px;
    text-transform:uppercase;
    font-weight:bold;
    font-size:20px;
   }
.modal-body .btn{
  margin-top:25px;
  height:40px;
    text-transform:uppercase;
    font-weight:bold;
    font-size:15px;
}  

.container .col-xs-12{
  
  height:550px;

}
.container .management {
    margin-top:80px;
}
.img-thumbnail {
	width:200px;
	height:200px;
}

/* Contact form */
form label .contact-label{
  font-size:40px;
  font-weight: bold;
  display: block;
  padding: 10px 0;
}
 
form input#sendersname,
form input#sendersemail,
form input#senderssubject {
  width: 400px;
  background-color: #fafafa;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  border: 1px solid #cccccc;
  padding: 5px;
  font-size: 1.1em;
}
 
form textfield#sendersname,
form textfield#sendersemail,
form textfield#senderssubject {
  color: #000000;
}

form textarea#sendersmessage {
  width: 500px;
  height: 240px;
  /*color: #FFFFFF;*/
  background-color: #fafafa;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  border: 1px solid #cccccc;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 1.1em;
}


form input#submit {
  display: block;
  -webkit-border-radius: 3px; 
     -moz-border-radius: 3px;
          border-radius: 3px;
  border:1px solid #d8d8d8;
  padding: 10px; 
  font-weight:bold; 
  text-align: center;
  margin: 0 auto;
  color: #000000; 
  background-color: #f4f4f4;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f4f4), color-stop(100%, #e5e5e5));
  background-image: -webkit-linear-gradient(top, #f4f4f4, #e5e5e5);
  background-image: -moz-linear-gradient(top, #f4f4f4, #e5e5e5);
  background-image: -ms-linear-gradient(top, #f4f4f4, #e5e5e5);
  background-image: -o-linear-gradient(top, #f4f4f4, #e5e5e5);
  background-image: linear-gradient(top, #f4f4f4, #e5e5e5);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f4f4f4, endColorstr=#e5e5e5);
}
 
form input#submit:hover{
  cursor: pointer;
  border:1px solid #c1c1c1; 
  background-color: #dbdbdb;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dbdbdb), color-stop(100%, #cccccc));
  background-image: -webkit-linear-gradient(top, #dbdbdb, #cccccc);
  background-image: -moz-linear-gradient(top, #dbdbdb, #cccccc);
  background-image: -ms-linear-gradient(top, #dbdbdb, #cccccc);
  background-image: -o-linear-gradient(top, #dbdbdb, #cccccc);
  background-image: linear-gradient(top, #dbdbdb, #cccccc);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#dbdbdb, endColorstr=#cccccc);
}

/* Message flashing */
.flash {
  background-color: #FBB0B0;
  padding: 10px;
  width: 400px;
}


