<!DOCTYPE html>
<html>
<head>
  <meta charset="ISO-8859-1">
  <title>Insert title here</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static',filename='css/firstpage.css') }} ">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="https://code.highcharts.com/highcharts.js"></script>

  <script type="text/javascript" src="{{ url_for('static',filename='js/loginRegistrationScripts.js') }} "></script>
  <script type="text/javascript" src="{{ url_for('static',filename='js/profileManipulationScripts.js') }} "></script>
   <!-- // <script type="text/javascript"> 
  // $(function() {
  //       // var fileListdata =  ;
  //         // alert({{ fileList | safe }});
  //         $('#input1').immybox({
  //           choices: {{ fileList | safe}}
  //         });
  //       });
  // </script> -->
  <style>
.navbar .navbar-brand{

 color:#FFFFFF;
 font-weight:bold;	
 font-size: 1.5em;
 -webkit-transition: all .3s;
 -moz-transition: all .3s;
 transition: all .3s;
}
.dropdown-menu {
background-color:black;	
}
 .dropdown-menu > li>  a.head {
		
	color:#FFFFFF;
   font-weight:bold;
	font-size: 1.2em;
}
 .dropdown-menu > li>  a.head:hover , a.head.active {
    color: #990000;
    background-color: #fed136;
 }
        
 .jumbotron {
    text-align: center;
      font-family: palatino linotype;
      color: #000;
  }
   .jumbotron > h1{
    text-align: center;
    font-weight:bold;
      font-family: palatino linotype;
    font-size: 40px;    
    color: #000;
  }
 
</style>

</head>
<body>

  <!-- Header starts --> 
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="/" class="navbar-brand">HomeAR</a>
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse" id="navbar-main">
      	<ul class="nav navbar-nav navbar-right">
      		<li>
      			<a class="head" href="/retailerDashboard"  data-toggle="collapse" data-target="#demo"><span class="glyphicon glyphicon-stats" ></span> Visualize <span class="glyphicon"></span>
      			</a>
      		</li>

      		<li>
      			<a class="head" href="/searchRetailer"  data-toggle="collapse" data-target="#demo"><span class="glyphicon glyphicon-search" ></span>  Search Products <span class="glyphicon"></span>
      			</a>
      		</li>

      		<li role="presentation" class="dropdown head">
      			<a class="dropdown-toggle head" href="#" data-toggle="dropdown" aria-expanded="false">
      				<span class="glyphicon glyphicon-user" ></span>  Profile <span
      				class="caret head"></span>

      			</a>
      			<ul class="dropdown-menu head" role="menu">
      				<li><a class="head" href="#" data-toggle="modal" data-target="#edit"><span class="glyphicon glyphicon-align-left glyphicon-edit"></span> Edit Profile</a></li>
      				<li><a class="head" href="#" data-toggle="modal" data-target="#view"><span class="glyphicon glyphicon-align-left glyphicon-eye-open"></span>  View Profile</a></li>
      				<li><a class="head" href="#" data-toggle="modal" data-target="#basicModal"><span class="glyphicon glyphicon-align-left glyphicon-log-out"></span>  Logout
      				</a>
      			</li>
      		</ul>

      	</li>
      	<li><a class="head" href="/aboutUs"><span class="glyphicon  glyphicon-envelope"></span> About us</a></li>
      </ul>
    </div>
    <!-- /.container -->
  </div>
</div>
<!-- Header closed --> 



   <!-- Modal -->
   <div class="modal fade" id="basicModal" tabindex="-1">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
		  <span>&times;</span>
		  <span class="sr-only">Close</span>
		  </button>
          <h3 class="modal-title" id="myModalLabel" style="color:green;font-weight:bold;"> LOGOUT USER
		  </h3>
        </div>
        <div class="modal-body">
          <h4>Are you sure you want to logout?</h4>
        </div>
        <div class="modal-footer">
         <a href="/home" > <button type="button" class="btn btn-primary" data-dismiss="modal" onClick="logout()">Logout</button></a>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="view" tabindex="-1">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span>&times;</span>
            <span class="sr-only">Close</span>
          </button>
          <h3 class="modal-title" id="myModalLabel" style="color:green;font-weight:bold;" onclick="viewProfile()"> View Profile</h3>
        </div>
        <div class="modal-body">
          <div class="form-group">Username:
          <span class="form-control" id="vUsername"></span>
       </div>
      <div class="form-group">Email:
        <span class="form-control" id="vEmail"></span>
      </div>
        </div>
        
      </div>
    </div>
  </div>
  
  <div class="modal fade" id="edit" tabindex="-1">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span>&times;</span>
            <span class="sr-only">Close</span>
          </button>
          <h3 class="modal-title" id="myModalLabel" style="color:green;font-weight:bold;">Edit Profile</h3>
        </div>
        <div class="modal-body">
          <div class="form-group">Username:
        <input type="text" class="form-control" id="username">

      </div>
      <div class="form-group">Email:
        <input type="text" class="form-control"  id="email"> 

      </div>
        </div>
        
      </div>
    </div>
</div>


<br>
<div class ="jumbotron">
<h1>Upload your file</h1><br>
<form id="resources" method="post">
	<div class="col-md-offset-5">

	<input type="file" id="fileupload" name="fileupload" accept=".csv" style="font-size:20px;"> <br>

	</div>
</form>	

<!-- Content Section Ends -->
</div>


<div id="container" style="min-width: 400px; min-height: 500px; max-height:900px; max-width: 1500px; margin: 0 auto"></div>
	

	<!--Footer starts-->
	<footer>
		<div class="container-fluid" style="background: black;">

			<div class="col-lg-12 text-center">
				<h4 class="contact">CONTACT US</h4>
			</div>

			<form name="sentMessage" id="contactForm2">
				<div class="row">
					<div class="col-md-4 col-md-offset-2">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Your Name *"
								id="name3">

						</div>
						<div class="form-group">
							<input type="email" class="form-control"
								placeholder="Your Email *" id="email3">

						</div>
						<div class="form-group">
							<input type="number" class="form-control"
								placeholder="Your Phone *" id="phone">

						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<textarea class="form-control" placeholder="Your Message *"
								id="message"></textarea>

						</div>
					</div>
				</div>
				<div class="button">
					<div class="col-md-12 text-center">

        <button type="submit" class="btn btn-xl">Send Message</button>
      </div>
    </div>
    
  </form>
  
  
  <p style="text-align:center;margin-top:150px;color:#fed136;">Copy rights- HomeAR inc 2015</p>
</div>
</footer>
<!-- Footer closed -->


</body>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-csv/0.71/jquery.csv-0.71.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/highcharts-more.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
			
<script type="text/javascript">
var data = null;
var res = location.search.split('=');

$(document).ready(function(){

	document.getElementById('fileupload').addEventListener('change', upload, false);

	function browserSupportFileUpload()
	{
		var isCompatible = false;
		if(window.File && window.FileReader  && window.FileList && window.Blob)
		{
			isCompatible = true;
		}
		return isCompatible;
	}
	function upload(event)
	{
			var options = {
					    chart: {
					        renderTo: 'container',
					        defaultSeriesType: 'column'
					    },
					    title: {
					        text: 'Sales Based Analysis'
					    },
					    xAxis: {
					        categories: []
					    },
					    yAxis: {
					        title: {
					            text: 'Units'
					        }
					    },
				        plotOptions: {
				            series: {
				                cursor: 'pointer',
				                point: {
				                    events: {
				                        click: function() {
				                            for (var i = 0; i < this.series.data.length; i++) {
				                                this.series.data[i].update({ color: '#ECB631' }, true, false);
				                            }
				                            this.update({ color: '#f00' }, true, false)
				                        }
				                    }
				                }
				            }
				        },
					    
					    series: []
					};
				if(!browserSupportFileUpload)
				{
					alert("File API not supported in this browser");
				}
				else
				{
					var file = event.target.files[0];
					var reader = new FileReader();
					reader.readAsText(file);
					reader.onload = function(event)
					{
						var data = event.target.result;
						if(data && $.csv.toArrays(data).length >0)
						{
							var lines = data.split('\n');

						// Iterate over the lines and add categories or series
						$.each(lines, function(lineNo, line) {
							var items = line.split(',');
							
							// header line containes categories
							if (lineNo == 0) {
								$.each(items, function(itemNo, item) {
									if (itemNo > 0) options.xAxis.categories.push(item);
								});
							}
							
							// the rest of the lines contain data with their name in the first 
							// position
							else {
								var series = {
									data: []
								};
								$.each(items, function(itemNo, item) {
									if (itemNo == 0) {
										series.name = item;
									} else {
										series.data.push(parseFloat(item));
									}
								});

								
								options.series.push(series);
								
							}
							
						});
				
				// Create the chart
				var chart = new Highcharts.Chart(options);
			}
			else
			{
				alert("no data to import");
			}

			};
			reader.onerror = function(){
				alert("unable to read "+file.fileName);
			}
			}

			}
	
});

function logout(){
	window.location.href = "/";
}

</script>
</html>